{% extends 'voca_base.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block extra_style %}
    <style>
        .header{
            display: inline-block;
            width: 800px;
            text-align: left;
        }
        h1{
            color: white;
            font-weight: bolder;
            font-size: 50px;
        }
        .object-list{
            text-align: left;
            display: inline-block;
            width: 800px;
        }
        .list-title{
            margin-bottom: 40px;
            color: white;
            font-weight: bolder;
        }
        .word-card{
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            padding: 50px;
            background: white;
            border-radius: 10px;
            text-align: center;
            margin-bottom: 20px;
        }
        .meaning{
            font-size: 50px;
            font-weight: bolder;
            margin-bottom: 10px;
        }
        .example{
            font-size: 30px;
        }
        .move-btn{
            margin-top: 70px;
            font-size: 100px;
            color: black;
            font-weight: bolder;
        }
    </style>
{% endblock %}

{% block content %}
    <div>
        <div class="header">
            <h1 style="color: white">
                <img src="{% static 'img/profile.png' %}"> 외워보카
            </h1>
        </div>
    </div>
    <div>
        <div class="object-list">
            <h2 class="list-title">
                <a href="{{ word_day.word_book.get_absolute_url }}" style="color: white">{{ word_day.word_book.title}}</a>
                <br>
                <a href="{{ word_day.get_absolute_url }}"  style="color: white">DAY {{ word_day.day }}</a>
            </h2>
            <div class="row">
                <div class="col-xs-2 move-btn">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}"><</a>
                    {% endif %}
                </div>
                <div class="col-xs-8">
                    <div class="word-card">
                        {% with word=object_list.0 %}
                            <div class="meaning">
                                {{ word.english }}
                            </div>
                            <div class="meaning">
                                {{ word.korean }}
                            </div>
                            <div class="example">
                                {{ word.example_sentence }}
                            </div>
                        {% endwith %}
                    </div>
                </div>
                <div class="col-xs-2 move-btn">
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">></a>
                    {% endif %}
                </div>
            </div>
            <div style="text-align: center;font-size: 25px">
                {{ page_obj.number }} / {{ paginator.num_pages }}
            </div>
        </div>
    </div>
{% endblock %}
