{% extends 'voca_base.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block extra_style %}
    <style>
        #logout-btn{
            background: #ffffb5;
            color: #3800a8;
            border: 0;
            width: 100px;
            height: 30px;
            border-radius: 25px;
            position: absolute;
            right: 20px;
            top: 20px;
        }
        .header{
            display: inline-block;
            width: 800px;
            text-align: left;
        }
        h1{
            color: white;
            font-weight: bolder;
            font-size: 50px;
        }
        .object-list{
            text-align: left;
            display: inline-block;
            width: 800px;
        }
        .list-title{
            margin-bottom: 40px;
            color: white;
            font-weight: bolder;
        }
        .folder{
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            height: 165px;
            border-radius: 5px;
            color: white;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 60px;
            padding: 30px;
            background: #7d63d5;
            text-align: center;
        }
        .folder-title{
            font-size: 25px;
            font-weight: bolder;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div>
        <div class="header">
            <h1 style="color: white">
                <img src="{% static 'img/profile.png' %}"> 외워보카
            </h1>
        </div>
    </div>
    <div>
        <div class="object-list">
            <h2 class="list-title">
                > {{ word_book.title}}
            </h2>
            <div class="row">
                <div class="col-xs-3">
                    <div class="folder">
                        <a href="{% url 'account:home' %}">
                            <p style="font-weight: bolder;font-size: 60px;margin-top: 10px; color: white">
                                +
                            </p>
                        </a>
                    </div>
                </div>
                {% for word_day in object_list %}
                    <div class="col-xs-3">
                        <a href="{{ word_day.get_absolute_url }}">
                            <div class="folder">
                                <div class="folder-title">DAY</div>
                                <div class="folder-title">{{ word_day }}</div>
                                <div>
                                    {% if word_day.checked_time %}
                                        {{ word_day.checked_time|date:"Y.n.j" }} 완료
                                    {% else %}
                                        복습예정
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
